.badge {
    background: #3679cd url(../images/github-button.png) 0 0 no-repeat;
    border-radius: 9px;
    position: absolute;
    top: 0;
    right: 0;
    height: 80px;
    width: 202px;
}
.badge p {
    margin-top: 4px;
}
.badge img {
    margin-top: -4px;
    float: left;
}
.badge {
    font-size: 18px;
    line-height: 1.2;
    color: #fff;
    padding: 3px 0px 0px 2px;
}
.badge small {
    font-size: 60%;
}
.badge a {
    color: #c9eafc;
}
.badge a:hover {
    color: #9ddcff;
}
